# Python Virtual Environment 
venv/
*.pyc
__pycache__/

# Package Build Artifacts 
*.egg-info/
build/
dist/

# Database & Model Artifacts 
database/*.db
models/*.joblib
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# System & IDE Config 
logs/
.env
.DS_Store