# Python Virtual Environment 
venv/
*.pyc
__pycache__/

# Package Build & Setup Artifacts 
*.egg-info/
build/
dist/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Database & Heavy Model Files 
database/*.db
models/*.joblib
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Logs & Environment Files 
logs/
.env
.DS_Store

# IDE Settings
.vscode/